.container {
  margin-top: -20rem;
}
.title {
  font-family: Lora-Italic;
  font-size: 2.5rem;
}

.title2 {
  display: block;
  color: #00C0F0;
  margin-left: .1em;
}

.subTitle {
  text-align: center;
  margin-top: -25px;
}

.button {
  color: white;
  background-color: #00C0F0;
  border: none;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  font-size: 1.1em;
  position: absolute;
  top: 65%;
  z-index: 1;
}

.button:hover {
  background-color: hsl(192, 100%, 45%);
  box-shadow: 0px 2px 10px rgb(0, 192, 240, .9);
  transition: all .3s ease-in-out;
}

.button:not(hover) {
  transition: all .5s ease-in-out;
}

@media screen and (min-width: 640px) {
  
}