.container {}

.title {
  font-family: Lora-Italic;
  font-size: 4rem;
}

.title1 {
  animation: titleOneIn linear 1.5s, fadeIn 2s;
}

.title2 {
  display: block;
  color: #82B5A5;
  margin-left: .1em;
  animation: titleTwoIn linear 1.5s, fadeIn 2s;
}

.subTitle {
  margin-left: .6rem;
  margin-top: -2.5rem;
  animation: fadeIn linear 2s;
}

.button {
  color: white;
  background-color: #82B5A5;
  border: none;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  font-size: 1.1em;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  animation: buttonFadeIn linear 2s;
}

.button:hover {
  background-color: hsl(161, 26%, 55%);
  box-shadow: 0px 5px 10px rgb(130, 181, 165, .9);
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.button:not(hover) {
  transition: all .5s ease-in-out;
}

@keyframes titleOneIn {
  from {
    margin-left: 0;
  }

  90% {
    margin-left: 5%;
  }

  to {
    margin-left: 0;
  }
}

@keyframes titleTwoIn {
  from {
    margin-left: 0%;
  }

  90% {
    margin-left: -5%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  15% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes buttonFadeIn {
  0% {
    opacity: 0
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 480px) {
  .subTitle {
    font-size: 1.2rem;
  }
  .button {
    top: 63%;
  }
}

@media screen and (min-width: 640px) {
  .subTitle {
    font-size: 1.3rem;
  }
  .button {
    top: 63%;
  }
}

@media screen and (min-width: 768px) {
  .button {
    top: 58%;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 5rem;
  }
  .subTitle {
    font-size: 1.6rem;
    margin-top: -3.5rem;
  }
  .button {
    top: 68%;
    align-items: left;
  }
}

@media screen and (min-width: 1536px) {
  .subTitle {
    font-size: 1.6rem;
  }
}