.container {
  width: 100%;
}

.cardHeaderWrapper {
  display: flex;
  justify-content: center;
}

.cardHeader {
  padding: .5rem;
  text-align: center;
}

.cardImageWrapper {
  margin-top: -1.75rem;
  padding: 1rem;
}

.cardImage {
  border-radius: .5rem;
}
